### Test

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
anime = pd.read_csv(r'C:\Users\Max\Desktop\Para\MarkDown\Ypiter\anime.csv')
anime.head()

anime_copy = anime.copy()
# Вывод первых 5 элементов списка
anime_copy.head(5)
# вывод последнего элемента списка
anime_copy.tail(1)

In [ ]:

# Создание и сохранение данных в другой файл csv
anime = pd.read_csv(r'C:\Users\Max\Desktop\Para\MarkDown\Ypiter\anime.csv')

anime[:50].to_csv('saved_anime.csv',index=False)
testSave  = pd.read_csv(r"C:\Users\Max\Desktop\Para\MarkDown\Ypiter\saved_anime.csv")
testSave[['name','genre','type','episodes']]

In [ ]:
# Создание своего дата фрэйма (таблицы)
soloData = pd.DataFrame([[1,"Max","Gatskan","Nikolaevich"],
                        [2, "Test","MAN", "sHIMBA"],
                        [3, "Test","MAN", "Test"]],
                        index=['MPT','REY','BAY'],
                        columns=["id","name","FIO", "Otch"])
# сохранение нашего DataFrame
soloData.to_csv('MyDataFrame.csv')

myPD = pd.read_csv(r'C:\Users\Max\Desktop\Para\MarkDown\Ypiter\MyDataFrame.csv')
soloData

In [ ]:
# Подсчет уникальных значений в DataFrame
anime.nunique()

In [ ]:
anime = pd.read_csv(r'C:\Users\Max\Desktop\Para\MarkDown\Ypiter\anime.csv')
# вывод колличества уникальных элементов 
len(anime['anime_id'].unique())
# Получение сведений о датафрейме
anime.info()

In [ ]:
# Вывод статистических сведений о датафрейме
anime.describe()

In [ ]:
# Подсчёт количества значений
# type - это столбец по которому идет подсчет
anime.type.value_counts()

In [ ]:
# Создание списка или объекта Series на основе значений столбца
testM = anime['genre'].tolist()
# testM = anime['genre']
testM

In [ ]:
# Создание нового датафрейма из подмножества столбцов
# Это может пригодиться в том случае, если требуется сохранить в новом датафрейме несколько столбцов огромного датафрейма, но при этом не хочется выписывать имена столбцов, которые нужно удалить
nowCol = anime[['name','episodes']]
nowCol

In [ ]:
# Удаление заданных столбцов
# Этот приём может оказаться полезным в том случае, если из датафрейма нужно удалить лишь несколько столбцов.
# Если удалять нужно много столбцов, то эта задача может оказаться довольно-таки утомительной, 
# поэтому тут я предпочитаю пользоваться возможностью, описанной в предыдущем разделе.

dropDF = testSave.drop(['anime_id', 'genre', 'members'], axis=1)
dropDF

In [ ]:

# В pandas axis = 0 относится к горизонтальной оси или строкам, а axis = 1 относится к вертикальной оси или столбцам.
df = pd.DataFrame([[1,'Bob', 8000],
                  [2,'Sally', 9000],
                  [3,'Scott', 20]], columns=['id','name', 'power level'])
df.append(df.mean(axis=0), ignore_index=True)

In [ ]:
# Комбинирование датафреймов
# Эта методика применима в ситуациях, когда имеются два датафрейма с одинаковыми столбцами, которые нужно скомбинировать.
# В данном примере мы сначала разделяем датафрейм на две части, а потом снова объединяем эти части:
df1 = anime[0:2]
df2 = anime[2:4]
pd.concat([df1, df2])

In [ ]:
# Фильтрация при помощи loc
soloData.loc[['BAY']]
# Фильтрация при помощи iloc по id c 1 по 3 элемент
soloData.iloc[0:3]

In [ ]:
# Получение строк по заданным значениям столбцов
# Для получения строк датафрейма в ситуации, когда имеется список значений столбцов, можно воспользоваться следующей командой:
anime[anime['type'].isin(['TV', 'Movie'])]

# Если нас интересует единственное значение — можно воспользоваться такой конструкцией:
anime[anime['type'] == 'TV']

In [ ]:
# Фильтрация по значению
# Из датафреймов можно выбирать строки, соответствующие заданному условию. 
# Обратите внимание на то, что при использовании этого метода сохраняются существующие индексные значения.
anime[anime['rating'] >=9.5]

In [ ]:
# Сортировка
# Для сортировки датафреймов по значениям столбцов можно воспользоваться функцией df.sort_values:
anime.sort_values('rating', ascending=False).head(100)

In [ ]:
# Агрегирование
# Функция df.groupby и подсчёт количества записей
# Вот как подсчитать количество записей с различными значениями в столбцах:

Grouptype =  anime.groupby('type').count()
Grouptype

In [ ]:
# Поиск
Grouptype.loc[['Movie']]

In [304]:
anime.groupby(["type"]).agg({
  "rating": "sum",
  "episodes": "count",
  "name": "first"
}).reset_index()

      type    rating  episodes                              name
0    Movie  14512.58      2348                    Kimi no Na wa.
1    Music   2727.43       488                           Shelter
2      ONA   3679.43       659                      Eve no Jikan
3      OVA  20942.60      3311              Ginga Eiyuu Densetsu
4  Special  10900.77      1676      Mushishi Special: Hihamukage
5       TV  25338.34      3787  Fullmetal Alchemist: Brotherhood

In [ ]:
# tmp_df = anime.copy()
# tmp_df.sort_values('user_id', ascending=True, inplace=True)
# tmp_df = tmp_df[tmp_df.user_id < 10] 
# tmp_df = tmp_df[tmp_df.anime_id < 30]
# tmp_df = tmp_df[tmp_df.rating != -1]
# pd.pivot_table(tmp_df, values='rating', index=['user_id'], columns=['anime_id'], aggfunc=np.sum, fill_value=0)